<div id = "post-form">
  <h3>Edit Post</h3>
  <%= render 'form', post: @post %>
</div>
<div class="container">
  <div class="col" >
    <div class="row pt-5" id="post-carousel">
      <!-- carousel -->
      <div class="box" id="post">
        <p id = "post-title"><%=@post.user.username%></p>
        <div id="post-img">
          <div id="carousel_<%= @post.id %>" class="carousel slide" >
            <div class="carousel-inner">
              <%= render "posts/all_images", {post: @post}%>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel_<%= @post.id %>" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel_<%= @post.id %>" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div id="post-content">
          <div id="like-post-count-<%=@post.id.to_s%>">
            <%= render "posts/like_count", {post: @post}%>
          </div>
          <div><span><%=@post.user.username%></span>
            <%=@post.description%>
          </div>
          <br>
        </div>
        <div id = "edit-check">
          <div id="like-post-<%=@post.id.to_s%>">
            <%= render "posts/like_method", {is_liked: @post.liked?(current_user), post: @post}%>
          </div>
          <%= link_to 'Show', @post %>
        </div>
      </div>
      <div class = "edit-link box" id = "post-link">
        <div>
          <h6>Comments</h6>
          <div id="comment-post-<%=@post.id.to_s%>">
            <p>
              <%= render "all_comment", {post: @post}%>
            </p>
          </div>
          <div id="comment-form-post-<%=@post.id.to_s%>">
            <p>
              <%= render "comment_form", {post: @post}%>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
